__pycache__/
.pytest_cache/
*.pyc
*.zip
dist/
build/
.env
.env.*
.release/.env

.gear-metadata/
artifacts/gear/
artifacts/previous-gear/
artifacts/previous-consumables/

artifacts/gear-mock/
.gear-private/
artifacts/gear-real/
